<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <tasks></tasks>
    </div>
</div>

<%= javascript_pack_tag "tasks" %>