<form [formGroup]="property_inputs">
    <label for="control">{{ controlLabel }}</label><br />
    <div class="input-group">
        <div *ngIf="icon == '$'" class="input-group-prepend">
            <span class="input-group-text">$</span>
        </div>
        <input 
            class="form-control"
            formControlName="control"
            [(ngModel)]="val"
            (ngModelChange)="indirectUpdate()"
            (focus)="inFocus()"
            (blur)="updateInputFormat()">
        <div *ngIf="icon == '%' || icon == 'sq ft'" class="input-group-append">
            <span class="input-group-text">{{ icon }}</span>
        </div>
    </div>
</form>