<article class="panel panel-default col-md-12" class="pull-left" id="apod-section">
    <header class="panel-heading">
        <div class="row">
            <div class="col-md-2"><h2>APOD</h2></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3">2% Test<br />Passed</div>
                    <div class="col-md-3">Cash on Cash ROI:<br />{{ cashOnCashROI  }}</div>
                    <div class="col-md-3">Internal Rate Return:<br />9%</div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="panel-body">
        <table class="table table-striped">
            <thead>
                <th scope="col">Metric</th>
                <th scope="col" *ngFor="let year of years">Year {{ year + 1 }}</th>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Gross Scheduled Income</th>
                    <td class="gsi" *ngFor="let gsi of grossScheduledIncome">$ {{ gsi }}</td>
                </tr>
                <tr class="expense">
                    <th scope="row"> - Vacancy and Credit Loss</th>
                    <td *ngFor="let vrc of vacancyRateCost"> - $ {{ vrc }}</td>
                </tr>
                <tr>
                    <th scope="row">Gross Operating Income</th>
                    <td *ngFor="let goi of grossOperatingIncome">$ {{ goi }}</td>
                </tr>
                <tr class="table-primary expense" *ngIf="hasOperatingExpenseFor(totalOperatingExpenses)">
                    <th scope="row">Total Operating Expenses</th>
                    <td *ngFor="let toi of totalOperatingExpenses">- $ {{ toi }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyRepairBudget)">
                    <th class="operating_expense" scope="row">Repair Budget</th>
                    <td *ngFor="let yrb of yearlyRepairBudget">- $ {{ yrb }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyCapExBudget)">
                    <th class="operating_expense" scope="row">Large Item Repair Budget</th>
                    <td *ngFor="let ycb of yearlyCapExBudget">- $ {{ ycb }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyWater)">
                    <th class="operating_expense" scope="row">Utilities - Water Bill</th>
                    <td *ngFor="let yw of yearlyWater">- $ {{ yw }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyGarbage)">
                    <th class="operating_expense" scope="row">Utilities - Garbage Bill</th>
                    <td *ngFor="let yg of yearlyGarbage">- $ {{ yg }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyGas)">
                    <th class="operating_expense" scope="row">Utilities - Gas Bill</th>
                    <td *ngFor="let yGas of yearlyGas">- $ {{ yGas }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyElectricity)">
                    <th class="operating_expense" scope="row">Utilities - Electricity</th>
                    <td *ngFor="let ye of yearlyElectricity">- $ {{ ye }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyHoa)"> 
                    <th class="operating_expense" scope="row">HOA</th>
                    <td *ngFor="let yh of yearlyHoa">- $ {{ yh }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyMaintenance)">
                    <th class="operating_expense" scope="row">Maintenance (i.e., lawn care)</th>
                    <td *ngFor="let ym of yearlyMaintenance">- $ {{ ym }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyPropTaxes)">
                    <th class="operating_expense" scope="row">Property Taxes</th>
                    <td *ngFor="let ypt of yearlyPropTaxes">- $ {{ ypt }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyPropInsurance)">
                    <th class="operating_expense" scope="row">Property Insurance</th>
                    <td *ngFor="let ypi of yearlyPropInsurance">- $ {{ ypi }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyPropManagement)">
                    <th class="operating_expense" scope="row">Property Management</th>
                    <td *ngFor="let ypm of yearlyPropManagement">- $ {{ ypm }}</td>
                </tr>
                <tr *ngIf="hasOperatingExpenseFor(yearlyOther)">
                    <th class="operating_expense" scope="row">Other</th>
                    <td *ngFor="let yo of yearlyOther">- $ {{ yo }}</td>
                </tr>
                <tr>
                    <th scope="row">Net Operating Income</th>
                    <td *ngFor="let noi of netOperatingIncome">$ {{ noi }}</td>
                </tr>
                <tr class="expense">
                    <th scope="row"> - Annual Debt Service</th>
                    <td *ngFor="let ads of annualDebtService">- $ {{ ads }}</td>
                </tr>
                <tr>
                    <th scope="row">Cash Flow (Before Taxes)</th>
                    <td *ngFor="let cfbt of cashFlowBeforeTaxes">$ {{ cfbt }}</td>
                </tr>
            </tbody>
        </table>
    </section>
</article>